main {
    display: grid;
    width: 100%;
}

main > * {
    border: solid 1px green;
}

#capital-leverage{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#capital-leverage input[type="text"]{
    width: 100%;
}

.row3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#form-buttons{
    display: flex;
    gap: 10px;
}

label > * {
    display: block;
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; 
}


#display-grids > .col1, #display-grids > .col2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px green;
    box-sizing: border-box;
    padding: 10px;
}

#display-grids .row4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 5px;
}
#display-grids .row4 > div{
    border: solid 1px green;
    box-sizing: border-box;
    padding: 5px;
}
#display-grids .row4.header > div, 
#display-grids .row4 > .headerbg{
    background-color: var(--shade1);
}
#display-grids .row4.header > div, 
#display-grids .row4 > .header{
    font-weight: bold;
    text-transform: uppercase;
}

.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}




@media only screen and (min-width: 700px) {
    main {
        grid-template-columns: 300px 1fr;
        max-width: 1800px;
    }
}

@media only screen and (min-width: 1200px) {
    #display-grids{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
