body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

input, select{
  padding: 5px;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  --shade1: rgb(133, 133, 133);

  --mainRed: red;
  --mainGreen: green;
}
